.card-title{
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
    0 4px 6px -4px rgba(0,0,0,0.1);
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-type {
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
    0 4px 6px -4px rgba(0,0,0,0.1);
}

.card-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
    .card-columns {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-type {
        grid-template-columns: repeat(2, 1fr);
    }
}


.feature-card {
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -4px rgba(0,0,0,0.1);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px
}

.feature-card-form {
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -4px rgba(0,0,0,0.1);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
}

.feature-card-icon {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

.feature-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-container{
  text-align: center;
  margin-bottom: 1.25rem;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
  0 4px 6px -4px rgba(0,0,0,0.1);
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-container h1{
  font-size: 2.25rem;
}
